// body styles
$body-background-color:#f4f8fb;

//navigation and headers styles
$nav-background-color:#343a40;
$nav-color:rgb(214, 195, 23);
$font-size-regular:16px;
$font-weight-regular:500;

//button styles konark
$btn-width:100%;
$btn-border-radius:5px;
$btn-border:1px solid rgb(214, 195, 23);
$btn-align:center;

// placeholder generic settings
$placeholder-text:center;

// shell background color
$shell-background-color:#ededf2;

$facebook-color:#1b538a;
$twitter-color:#1da1f2;


